.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}
  
body {
    margin: 0;
    padding: 0;
    font-family:'poppins';
}
:root {
    --gradientBlue:linear-gradient(60deg,#1b007e,#0000ff,#0055ff, #0f98dc, #05d7f8);
    --gradientReverseBlue: linear-gradient(-60deg, #1b007e,#0000ff,#0055ff, #0f98dc, #05d7f8);
    --darken: linear-gradient((rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)));
}
.container {
width: 80%;
margin: 0 auto;
padding: 20px;
}

header {
    background: var(--gradientReverseBlue);
    color: #fff;
    padding: 20px 0;
    position: static;
}

header h1 {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;

}

nav ul li a {
color: #fff;
text-decoration: none;
transition: 0.3s ease;
}

nav ul li:hover a {
    color:cyan;
}

.hero {
    background-color: #f4f4f4;
    padding: 50px 0;
}

.about {
    padding: 50px 0;
}



footer {
background-color: #333;
color: #fff;
text-align: center;
padding: 20px 0;
}

#title , #slogan{
    margin-bottom: 0;
    
}

.specialContainer {
    width: 80%;
    margin: 0 auto;
    padding: 0px;
}

.btn {
    background-color: #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;

}

.btn:hover {
    transform: scale(1.1);
    background-color: #1b007e;
}

.btn a {
    text-decoration: none;
    font-size:20px;
    color: #f4f4f4;
    padding: 5px;
}

.links-section {
    background:var(--gradientBlue);
    color: white;
    display: flex;
}

.link-container {
    text-align: center;
    flex-wrap: wrap;
}
.logo-container img {
    margin-left: 30%;
    margin-top: 50px;
}

.copyrightContainer {
    padding: 0;
}
.intro-section {
    display: flex;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/001.jpg');
    background-repeat: no-repeat;
}
.intro-container {
    flex-wrap:wrap;
    padding: 50px 1;
    color: white;

}
.intro-logo {
    position: static;
}
.intro-text-container {
    padding: 50px 1;
    color: #f4f4f4;
    text-align: center;
    flex-wrap:wrap;
    margin-right: 50px;
    position:relative;
    overflow: hidden;
}

.intro-text-container h3 {
    background: var(--gradientReverseBlue);
    -webkit-background-clip: text; /* Clip the background to the text */
    background-clip: text; /* Clip the background to the text */
    color: transparent; /* Hide the text color */
    position: relative;
}
.contact-container {
    display: inline-flex;
}
.contact-container img {
    height: 25px;
    width: 25px;
    margin-top: 14px;
}
.contact-container .address {
    width: 400px;
}
@media (max-width: 720px) {
    .logo-container img {
        display: none;
    }
    .contact-container .address {
        width: fit-content;
        
    }
    .links-section {
        display: block;
    }
    .intro-section {
        display: block;
    }
    .intro-text-container {
        margin: 0;
        width: fit-content;
    }
}








