@keyframes intenseFlashBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
.flash-animation {
    background: linear-gradient(270deg, rgba(29, 78, 216, 1), rgba(29, 78, 216, 0.8), rgba(29, 78, 216, 0.5), rgba(29, 78, 216, 1));
    background-size: 400% 400%; /* Increase background size for more movement */
    //animation: intenseFlashBackground 30s ease-in-out infinite; /* Faster speed */
}